<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}ExpertTest &mdash;{% endblock %}</title>
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
        <!--===============================================================================================-->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logo/expert_test_logo.png') }}" title="expert-test-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('afficher_session') }}">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('theme_index') }}">Thèmes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('formateur_index') }}">Formateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('clientpro_index') }}">Client pro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_graph_show') }}">Graph</a>
                </li>
            </ul>


            <span class="navbar-text ">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 <a href="{{ path('fos_user_security_logout') }}" >Logout </a>
             {% else %}
                <a href="{{ path('fos_user_security_login') }}" >Connexion </a>
             {% endif %} 


    </span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col ">
                <a href="{{ path('afficher_session') }}">  </a>
            </div>

        </div>

    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    {% block body %}{% endblock body %}
    {% block javascripts %}{% endblock javascripts %}



    </body>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style="background-color: black">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase" style="color:white">A propos</h5> <br>
                    <p style="color:white ;font-size: 15px" >Notre plateforme est destinée aux professionnels souhaitent s’entraîner à passer les certifications ISTQB, IQBBA, Selenium et Agile et ainsi tester leurs compétences pour garantir la réussite. Nous mettons à votre disposition une panoplie d’examens blancs et d’exercices corrigés sous forme de pack disponible pour chaque niveau,
                        afin de rendre votre révision plus facile et vous aider à réussir votre certification.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Content -->
                    <h5 class="text-uppercase" style="color:white">Notre mission</h5> <br>
                    <p style="color:white ;font-size: 15px" >
                        Notre mission est de vous garantir la réussite dans la certification ISTQB. Notre plateforme est conçue pour vous aider à vous préparer pour passer l’examen officiel d’ISTQB de façon autonome et selon votre rythme.
                        Nous vous fournissons plusieurs exercices corrigés avec commentaires et justifications, et des examens blancs similaires aux épreuves de l’ISTQB.
                    </p>


                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase" style="color:white">Liens de raccourci</h5>

                    <ul class="list-unstyled" >
                        <li >
                            <a style="color : red" href="{{ path('afficher_session') }}">Session</a>
                        </li>
                        <li >
                            <a style="color : red" href="{{ path('formateur_index') }}">Formateur</a>
                        </li>
                        <li >
                            <a style="color : red" href="{{ path('theme_index') }}">Theme</a>
                        </li>
                        <li >
                            <a style="color : red" href="{{ path('clientpro_index') }}">Client pro</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <br><br>
        <div class="footer-copyright text-center py-3" style='color:white'> © 2017 ExperTest. All Rights Reserved | Powered by
            <a href="/http://www.expertunisie.com/" style='color:red'>ExperTeam </a>
            <br>
            <a href="https://www.facebook.com/Expert.Team.Tunisie"> <i class="fa fa-facebook-official" aria-hidden="true"> </i></a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

<script>
    // for active nav bar on switching ( header)
    $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    }
    );
</script>
</html>



