<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExpertTest &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ asset('css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto w-25">
                    <img src="{{ asset('images/logo_expert.png') }}"> </img>
                    <a href="index.html"></a></div>

                <div class="mx-auto text-center">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a href="#home-section" class="nav-link">Accueil</a></li>
                            <li><a href="#courses-section" class="nav-link">Sessions</a></li>
                            <li><a href="#programs-section" class="nav-link">Programmes</a></li>
                            <li><a href="#teachers-section" class="nav-link">Formateurs</a></li>

                            {% if is_granted ('ROLE_ADMIN') %}
                                {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}" class="nav-link">S'enregistrer</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="ml-auto w-25">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="cta"><a href="{{ path('fos_user_security_logout') }}" class="nav-link"><span>Logout</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>

    </header>
    {% block body_content %}

    <div class="intro-section" id="home-section">

        <div class="slide-1" style="background-image: url('{{ asset('images/home_itservice_slider.jpg') }}');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1  data-aos="fade-up" data-aos-delay="100">Expert Test</h1>
                                <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">Envie de booster votre carrière professionnelle?</p>
                                {#{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% else %}
                                <p data-aos="fade-up" data-aos-delay="300"><a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary py-3 px-5 btn-pill" style="background-color: #4272d7">S'enregistrer</a></p>
                                {% endif %}#}
                            </div>

                            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">

                                 {% if is_granted('ROLE_ADMIN') %}
                                     <h1 >Bonjour, {{ app.user }}</h1>
                                     <p>Vous êtes connecté en tant qu'Admin</p>
                                     <a href="{{ path('afficher_session') }}"><button class="customPrevBtn btn btn-primary m-1" style="background-color: #4272d7" >Espace Admin</button></a>

                                {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %} <h1 style="color:blue">Bonjour, {{ app.user }}</h1>
                                {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY')%}
                                    {{ render(controller(
                                        'fos_user.security.controller:loginAction'
                                    )) }}
                                {% else  %}   <h1 style="color:blue">Bonjour, {{ app.user }}</h1>
                            {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="site-section courses-title" id="courses-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Les sessions de formation</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">

                <div class="owl-carousel col-12 nonloop-block-14">

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{{ asset('images/img_1.jpg') }}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">

                            <div class="meta"><span class="icon-clock-o"></span>Période de la session</div>
                            <h3><a href="#">Angular</a></h3>
                            <p>Développé par Google et la communauté Angular est un cadriciel (framework) côté client open source basé sur TypeScript dirigée par l'équipe du projet Angular à Google et par une communauté de particuliers et de sociétés</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> </div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{{ asset('images/img_2.jpg') }}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <div class="meta"><span class="icon-clock-o"></span>Période de la session</div>
                            <h3><a href="#">Spring</a></h3>
                            <p>En informatique, Spring est un framework libre pour construire et définir l'infrastructure d'une application java3, dont il facilite le développement et les tests.</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span></div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{{ asset('images/img_3.jpg') }}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <div class="meta"><span class="icon-clock-o"></span>Période de la session</div>
                            <h3><a href="#">HTML , CSS , JS ..</a></h3>
                            <p>Pour apprendre les bases de la programmation, je vous conseillerais de suivre ces cours là. Il y a des tonnes d'excellents programmes après parmi lesquels choisir.</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span></div>
                        </div>
                    </div>



                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{{ asset('images/img_4.jpg') }}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <div class="meta"><span class="icon-clock-o"></span>Période de la session</div>
                            <h3><a href="#">Symfony</a></h3>
                            <p>Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP. Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web..</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> </div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{{ asset('images/JEE.png') }}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <div class="meta"><span class="icon-clock-o"></span>Période de la session</div>
                            <h3><a href="#">JEE</a></h3>
                            <p>Java Enterprise Edition ( Java EE ), anciennement Java 2 Platform, Enterprise Edition ( J2EE ), actuellement Jakarta EE, est un ensemble de spécifications qui étend Java SE 8 [1] avec des spécifications pour des fonctionnalités d'entreprise telles que l' informatique répartie et les services Web. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span></div>
                        </div>
                    </div>


                </div>



            </div>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <button class="customPrevBtn btn btn-primary m-1" style="background-color: #4272d7" >Précédent</button>
                    <button class="customNextBtn btn btn-primary m-1" style="background-color: #4272d7" >Suivant</button>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section" id="programs-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Notre programme</h2>
                    <p></p>
                </div>
            </div>
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="{{ asset('images/undraw_youtube_tutorial.svg') }}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Nous sommes excellents en éducation</h2>
                    <p class="mb-4"></p>

                    <div class="d-flex align-items-center custom-icon-wrap mb-3">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                    <div class="d-flex align-items-center custom-icon-wrap">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="{{ asset('images/undraw_teaching.svg') }}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Viser l'excellence</h2>
                    <p class="mb-4"></p>

                    <div class="d-flex align-items-center custom-icon-wrap mb-3">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                    <div class="d-flex align-items-center custom-icon-wrap">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="{{ asset('images/undraw_teacher.svg') }}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">L'éducation c'est la vie</h2>
                    <p class="mb-4"></p>

                    <div class="d-flex align-items-center custom-icon-wrap mb-3">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                    <div class="d-flex align-items-center custom-icon-wrap">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                        <div><h3 class="m-0"></h3></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="site-section" id="teachers-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Nos formateurs</h2>
                    <p class="mb-5">petite description</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="teacher text-center">
                        <img src="{{ asset('images/person_1.jpg') }}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Nom prenom</h3>
                            <p class="position">Enseignant de ...</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="teacher text-center">
                        <img src="{{ asset('images/person_2.jpg') }}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Nom prenom</h3>
                            <p class="position">Enseignant de ...</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="teacher text-center">
                        <img src="{{ asset('images/person_3.jpg') }}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Nom prenom</h3>
                            <p class="position">Enseignant de ...</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-image overlay" style="background-image: url('{{ asset('images/hero_1.jpg') }}');">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center testimony">
                    <img src="{{ asset('images/asma.jpg') }}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                    <h3 class="mb-4">Asma Beltaief </h3>
                    <blockquote>
                        <p>&ldquo; C’est une formation qui permet d’être rapidement opérationnel. Pour ceux qui souhaitent s’initier au métier du Testing, je recommande cette formation via cet outil. Je pourrai être plus utile sur le terrain. Je suis comblé, je peux aller plus loin dans mon carrière. &rdquo;</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section pb-0">

        <div class="future-blobs">
            <div class="blob_2">
                <img src="{{ asset('images/blob_2.svg') }}" alt="Image">
            </div>
            <div class="blob_1">
                <img src="{{ asset('images/blob_1.svg') }}" alt="Image">
            </div>
        </div>
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
                <div class="col-lg-7 text-center">
                    <h2 class="section-title">Pourquoi nous choisir?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Les meilleurs professionnels</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Développez vos connaissances</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Meilleurs cours d'assistant d'enseignement</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Meilleurs formateurs</h3></div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
                    <img src="{{ asset('images/person_transparent.png') }}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>





    <!-- <div class="site-section bg-light" id="contact-section">
     <div class="container">

       <div class="row justify-content-center">
         <div class="col-md-7">



           <h2 class="section-title mb-3">Message Us</h2>
           <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>

           <form method="post" data-aos="fade">
             <div class="form-group row">
               <div class="col-md-6 mb-3 mb-lg-0">
                 <input type="text" class="form-control" placeholder="First name">
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control" placeholder="Last name">
               </div>
             </div>

             <div class="form-group row">
               <div class="col-md-12">
                 <input type="text" class="form-control" placeholder="Subject">
               </div>
             </div>

             <div class="form-group row">
               <div class="col-md-12">
                 <input type="email" class="form-control" placeholder="Email">
               </div>
             </div>
             <div class="form-group row">
               <div class="col-md-12">
                 <textarea class="form-control" id="" cols="30" rows="10" placeholder="Write your message here."></textarea>
               </div>
             </div>

             <div class="form-group row">
               <div class="col-md-6">

                 <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Send Message">
               </div>
             </div>

           </form>
         </div>
       </div>
     </div>
   </div>   -->
    {% endblock body_content %}

    <footer class="footer-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>A propos</h3>
                    <p>Notre plateforme est destinée aux professionnels souhaitent s’entraîner à passer les certifications ISTQB, IQBBA, Selenium et Agile et ainsi tester leurs compétences pour garantir la réussite.
                        Nous mettons à votre disposition une panoplie d’examens blancs et d’exercices corrigés sous forme de pack disponible pour chaque niveau, afin de rendre votre révision plus facile et vous aider à réussir votre certification.</p>
                </div>

                <div class="col-md-3 ml-auto">

                </div>

                <div class="col-md-4">
                    <h3>S'inscire</h3>
                    <p></p>
                    <form action="#" class="footer-subscribe">
                        <div class="d-flex mb-5">
                            <input type="submit" class="btn btn-primary rounded-0" style="background-color: #4272d7"  value="S'inscire">
                        </div>
                    </form>
                </div>

            </div>

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>



</div> <!-- .site-wrap -->

<script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>
<script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('js/jquery.sticky.js') }}"></script>


<script src="{{ asset('js/main_home.js') }}"></script>

</body>
</html>