{#{% extends 'base.html.twig' %}

{% block title %} Session disponibles {% endblock %}

{% block body %}

{% for session in sessions %}
    {{ session.nom }} <br>
{% endfor %}

{% endblock %}  #}
{% extends 'base.html.twig' %}
{% block body %}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Table Clients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        <!--===============================================================================================-->


    </head>
    <body>


    <div class="limiter">
        <div class="container">
            <div class="row">
                <div class="col ">

                </div>

                <a class="col col-lg-2">
                    <a href="{{ path('editer_session',{'id' : id_session }) }}" ><button class="btn btn-danger monstyle">Modifier cette session<em class="fa fa-cog"></em></button> </a>
                <a class="col col-lg-2">
                    <a  href="{{ path('afficher_session') }}" > <button class="btn btn-danger monstyle"><i class="fa fa-chevron-left" aria-hidden="true"></i> retour</button> </a>
            </div>
        </div>
        <div class="container-table100">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <!-- <div id="chart_div" ></div>-->

                        {{ render(controller(
                            'AdminBundle:Graph:showPaiementChart',
                            { 'id_session': id_session  }
                        )) }}




                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">
                        <!-- Search form -->
                        <form class="form-inline active-pink-3 active-pink-4">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input id="myInput" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Recherche d'un participant" aria-label="Search" onkeyup="myFunction()">
                            &nbsp&nbsp&nbsp
                            <a href="{{ path('afficher_tous_users',{'id' : id_session }) }}" title="ajouter un utilisateur"> <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="wrap-table100">
                <div class="table100 ver1">
                    <div class="table100-firstcol">
                        <table id="myTable">
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1"> <i class="fa fa-user" aria-hidden="true"></i> &nbspParticipants</th>
                            </tr>
                            </thead>
                            <tbody>



                            {%  for x in users  %}
                                <tr class="row100 body">
                                    <td class="cell100 column1">{{ x.nom }}&nbsp{{ x.prenom }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="wrap-table100-nextcols js-pscroll">
                        <div class="table100-nextcols">
                            <table id="myTable2">
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column2">Client</th>
                                    <th class="cell100 column3"><i class="fa fa-money" aria-hidden="true"></i>&nbspPaiement</th>
                                    <th class="cell100 column4">Email</th>
                                    <th class="cell100 column5">Numéro de téléphone</th>
                                    <th class="cell100 column6">Profession</th>
                                    <th class="cell100 column7">Canal de communication<div style="float:right;">Modifier Paiement</div></th>
                                    <th class="cell100 column8">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRelancer participant</th>
                                    <th class="cell100 column9"><em title="removeUser" class="fa fa-cog" style="color : black"></em></th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for x in users %}
                                    <tr class="row100 body">
                                        <td class="cell100 column2">
                                            {%   if x.type == "Particulier" %} {{  x.type }}
                                            {% else %} {{ x.client_pro }}
                                            {% endif %}
                                        </td>
                                        <td class="cell100 column3">{{ render(controller(
                                                'AdminBundle:Paiement:afficherPaiement',
                                                { 'id_session': id_session,
                                                  'id_user' : x.id  }
                                            )) }}</td>
                                        <td class="cell100 column4">    {{ x.email }}   </td>
                                        <td class="cell100 column5">    {{ x.numero_telephone }}    </td>
                                        <td class="cell100 column6">    {{ x.profession }}  </td>
                                        <td class="cell100 column7">    {{ x.canal_de_communication }}
                                            <div style="float:right"><a href="{{ path('edit_paiement',{ id_session : id_session , id_user: x.id }) }}"> <button class="btn btn-outline-secondary">edit</button> </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                                        </td>
                                        <td class="cell100 column8">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <a href="{{ path('relancer_participant') }}">
                                                <button class="btn btn-primary" id="Buttonn">Relancer</button>
                                            </a>
                                        </td>
                                        <td class="cell100 column9"><a href="{{ path('remove_userFromSession',{ id_session : id_session , id_user: x.id }) }}" ><i class="fa fa-minus-circle fa-2x" aria-hidden="true" style="color : red"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);
            $(window).on('resize', function(){
                ps.update();
            })
            $(this).on('ps-x-reach-start', function(){
                $(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
            });
            $(this).on('ps-scroll-x', function(){
                $(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
            });
        });
    </script>
    <script>
        function myFunction() {
            var input, filter, table,table2, tr, td, i, txtValue,tr2;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            table2 = document.getElementById("myTable2");
            tr = table.getElementsByTagName("tr");
            tr2 = table2.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td0 = tr2[i].getElementsByTagName("td")[0];
                td1 = tr2[i].getElementsByTagName("td")[1];
                td2 = tr2[i].getElementsByTagName("td")[2];
                td3 = tr2[i].getElementsByTagName("td")[3];
                td4 = tr2[i].getElementsByTagName("td")[4];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue0 = td0.textContent || td0.innerText;
                    txtValue1 = td1.textContent || td1.innerText;
                    txtValue2 = td2.textContent || td2.innerText;
                    txtValue3 = td3.textContent || td3.innerText;
                    txtValue4 = td4.textContent || td4.innerText;
                    if (   (txtValue.toUpperCase().indexOf(filter)  > -1)
                        || (txtValue0.toUpperCase().indexOf(filter) > -1)
                        || (txtValue1.toUpperCase().indexOf(filter) > -1)
                        || (txtValue2.toUpperCase().indexOf(filter) > -1)
                        || (txtValue3.toUpperCase().indexOf(filter) > -1)
                        || (txtValue4.toUpperCase().indexOf(filter) > -1)
                       )

                    {
                        tr[i].style.display = "";
                        tr2[i].style.display = "";

                    } else {
                        tr[i].style.display = "none";
                        tr2[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function f() {
            var x = document.getElementsByClassName("cell100 column3");
            //var x2 = document.getElementsByClassName("cell100 column8");
            var y = document.getElementsByClassName("btn btn-primary")
            for (i = 1; i < x.length ; i++){
                if (x[i].innerText == "Payé" ){
                    y[i-1].disabled=true;
                    // document.getElementById("Buttonn").disabled = true;
                    //x2[i].style.color="gray";
                    //x2[i].style.textAlign="center";
                }
            }

        }
        f();
    </script>
    <!--===============================================================================================-->
    <script src="{{ asset('js/main.js') }}"></script>

    </body>
    </html>

{% endblock body %}