{% extends 'base.html.twig' %}
{% block title %}AdminBundle:GererSession:ajouterSession{% endblock %}


{% block body %}
    <h1>Créer une session de formation</h1>
    {{ form_start(form) }}

    {{ form_row(form.nom, {
        label: 'Nom de la session de la formation'
    }) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{          form_widget(form.etat,{ 'attr': {'style':'display:none'} })  }}
    {{          form_row(form.etat,{ 'attr': {'style':'display:none'} })  }}
    {{ form_row(form.formateur) }}
    {{ form_row(form.valider, {
        label :'Valider'
    } )}}
    {{ form_end(form) }}
{% endblock %}