{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de la session de la formation</h1>
    {{ form_start(form) }}

    {{ form_row(form.nom, {
        label: 'Nom de la session de la formation '
    }) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {# remove user#}
    {{ form_row(form.etat) }}
    {{ form_row(form.formateur) }}
    {{ form_row(form.valider, {
        label :'Mettre à jour'
    } )}}

{{ form_end(form) }}
{% endblock %}