{#{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
        <!--===============================================================================================-->
    {% endblock %}

    <a  href="{{ path('clientpro_index') }}">
        <button class="btn btn-danger" style="color: #0000F0;background-color: white;">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            retour
        </button>
    </a>
    <h1>Modification d'un client pro</h1>
    {{ form_start(edit_form) }}
    {{ form_row (edit_form.nom)}}
    {{ form_row (edit_form.valider, {
        label : 'Modifier'
    }) }}
    {{ form_end(edit_form) }}


{% endblock %}
#}
{% extends 'base.html.twig '%}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Modification d'un client Pro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/daterangepicker/daterangepicker.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/util1.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main1.css')}}">
        <!--===============================================================================================-->
    </head>
    <body>



    {{ form_start(edit_form)}}
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{{ asset('images/home_itservice_slider.jpg') }}');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

                {{ form_start(edit_form)}}
                <form action="{{ path("afficher_session") }}" method="post" class="login100-form validate-form fos_user_registration_register">


                        <span class="login100-form-title p-b-33">
						Modification d'un client pro
					</span>

                    <div class="wrap-input100 validate-input">
                        {{ form_errors(edit_form.nom) }}
                        {{ form_widget(edit_form.nom,{ 'attr' : {'class': 'input100 ','placeholder':"Nom du client Pro"  }}) }}
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-20" >

                        {{ form_widget(edit_form.valider,{
                            'label' : "Modifier",
                            'attr' :  {
                                'class': 'login100-form-btn',
                                'type' :'sumbit',
                                'id' : '_submit',
                                'name' : '_submit',
                            }
                        }
                        ) }}

                    </div>









                </form>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/animsition/js/animsition.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/daterangepicker/daterangepicker.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/countdowntime/countdowntime.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('js/main1.js') }}"></script>
    </body>
    </html>




{% endblock body %}


